PORT=3000 # Or the port you configured in UFW
SESSION_SECRET=wRVPT1tLZK0kYAvSxVbg5n3hCmN9u82jpxODq6YeblJMHvUGzaE7cWiX4Ftk5oQm
JWT_SECRET=h9u7gQFzWAKrYXs6MEiTpVvdaBqPb4jH2tNc1omJZCxkLORUGy5n8w3le0HsBIDM
DB_PATH=/var/www/sanitation-app/data/auth.db # Example production path for SQLite DB
EMAIL_USER=dymc.sanitation@gmail.com
EMAIL_PASS=cdpe gmue aicf hkud
BASE_URL=https://dot1hundred.com:3000 # http://98.123.244.251:3000 # Publicly accessible URL of the app
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=password123
INITIAL_ADMIN_SEC_ANSWER1=Fluffy
INITIAL_ADMIN_SEC_ANSWER2=Central Elementary